//$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;
@import "../bootstrap/bootstrap";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

;

* {
  font-family: Roboto, sans-serif;
}

body {
  padding: 15px;
}

input[type="search"]::placeholder {
  color: #ffd595;
}

.table-user {
  margin-top: 20px;
  counter-reset: rowNumber -1; /* Устанавливает значение счетчика, равным -1 th = 0*/
  & tr {
    counter-increment: rowNumber; /* Инкрементирует счетчик*/

    & td:first-child:before {
      content: counter(rowNumber) ")"; /* Отображает текущее значение счетчика */
    }
  }

  &__caption_top {
    caption-side: top;
  }

}



