//$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;

@import "../bootstrap/bootstrap";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);

};

* {
  font-family: Roboto, sans-serif;
}

body{
  padding: 15px;
}
::placeholder{
  color: cornflowerblue;
}

.table-user{
  margin-top: 40px;

  &__caption_top{
    caption-side: top;
  }
}

